= simple_form_for webinar do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :upcoming, as: :boolean
  = f.input :planned_date
  = f.input :youtube_url
  = f.input :language, collection: ['PL','EN']
  = f.input :translation_available, as: :boolean
  = f.input :blogpost_url
  = f.input :doc_url
  = f.input :code_url
  = f.submit t('common.save'), class: 'btn btn-info'

