.row
  .col-md-5.col-xs-12
    =#%img{ src: webinar.thumbnail }
  .col-md-7.col-xs-12
    .row
      .col-md-2
        .tile.tile-video
          = link_to "#", data: { toggle: 'modal', target: "#youtubeModal", src: "//www.youtube.com/embed/#{webinar.youtube_video_id}" }, class: 'youtubeModalButton'  do
            %span.glyphicon.glyphicon-play
        .tile-description
          = t('.video')
      .col-md-2
        .tile.tile-lang
          %span= webinar.language
        .tile-description
          = t('.language')
      .col-md-2
        = render 'webinar_link_tile', tilename: 'blog', link: webinar.blogpost_url, glyphicon: 'book'
      .col-md-2
        = render 'webinar_link_tile', tilename: 'doc', link: webinar.doc_url, glyphicon: 'file'
      .col-md-2
        = render 'webinar_link_tile', tilename: 'code', link: webinar.code_url, glyphicon: 'list-alt'
      .col-md-2
        .tile.tile-subs{ class: faded_class(webinar.translation_available) }
          %span.glyphicon.glyphicon-subtitles
        .tile-description
          = t('.subtitles')
    .row
      .col-md-12
        %h3
          %span.author= "#{webinar.user.name}:"
          = webinar.title
      .col-md-12
        %p= webinar.description
.row
  .col-md-5
    .count.liked-by
      .box.icon-box
        .glyphicon.glyphicon-thumbs-up
      .box.count-box
        = webinar.vote_count
    .count.starred-by
      .box.icon-box
        .glyphicon.glyphicon-star
      .box.count-box
        = webinar.star_count
  .col-md-7
    = webinar.like_link(current_user)
    = webinar.star_link(current_user)
    - if webinar.user.id == current_user.id
      = link_to t('common.edit'), edit_webinar_path(webinar), class: 'btn btn-info pull-right'

.row
  .col-md-12
    %hr
#youtubeModal.modal.fade{ aria: { hidden: "true", labelledby: "label#{webinar.id}" }, role: "dialog", tabindex: "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: "modal" }, type: "button" }
          %span{ aria: { hidden: "true" } } &times;
          %span.sr-only Close
        %h4.modal-title{ id: "label#{webinar.id}" }
          = webinar.title
      .modal-body
        %iframe(frameborder="0" allowFullScreen width='99.6%' height='360')
      .modal-footer
