.row
  .col-md-5.col-xs-12
    %img{ src: webinar.thumbnail }
  .col-md-7.col-xs-12
    .row
      .col-md-2
        .tile.tile-video
          = link_to webinar.youtube_url do
            %span.glyphicon.glyphicon-play
      .col-md-2
        .tile.tile-lang
          %span= webinar.language
      .col-md-2
        = render 'webinar_link_tile', tilename: 'blog', link: webinar.blogpost_url, glyphicon: 'book'
      .col-md-2
        = render 'webinar_link_tile', tilename: 'doc', link: webinar.doc_url, glyphicon: 'file'
      .col-md-2
        .tile.tile-code{ class: faded_class(webinar.code_url.present?) }
          = render 'webinar_link_tile', tilename: 'code', link: webinar.code_url, glyphicon: 'list-alt'
      .col-md-2
        .tile.tile-subs{ class: faded_class(webinar.translation_available) }
          %span.glyphicon.glyphicon-subtitles
    .row
      .col-md-12
        %h3
          %span.author= "#{webinar.user.name}:"
          =webinar.title
      .col-md-12
        %p=webinar.description
.row
  .col-md-5
  .col-md-7
    - if webinar.user.id == current_user.id
      =link_to t('common.edit'), edit_webinar_path(webinar), class: 'btn btn-info pull-right'

.row
  .col-md-12
    %hr
