- if upcoming_webinar.present?
  = render 'upcoming_webinar', webinar: upcoming_webinar


.row
  .col-md-12
    %h3= t('.title')

= render partial: 'webinar', collection: webinars

#youtubeModal.modal.fade{ aria: { hidden: "true", labelledby: "label#{webinar.id}" }, role: "dialog", tabindex: "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: "modal" }, type: "button" }
          %span{ aria: { hidden: "true" } } &times;
          %span.sr-only Close
        %h4.modal-title{ id: "label#{webinar.id}" }
          = webinar.title
      .modal-body
        %iframe(frameborder="0" allowFullScreen width='99.6%' height='360')
      .modal-footer

= paginate webinars
