%nav.navbar.navbar-webinarium{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { target: "#header-navbar-collapse", toggle: "collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path } Webinarium
    #header-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if authenticated?
          %li
            = link_to t('common.add'), new_webinar_path
          %li
            = link_to t('common.suggestions'), suggestions_path
      %ul.nav.navbar-nav.navbar-right
        - if authenticated?
          %li
            %img.user-img{ src: current_user.image_url }
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
              = current_user.name
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                = link_to t('common.my_profile'), user_path(current_user)
              %li
                = link_to t('common.logout'), auth_signout_path, method: :delete
